* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


html, body {
width: 100%;
height: 100%;
}

#link-container {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}


#item-1 {
    flex: .04;
}

#item-2 {
    flex: .7;
}

img.logo {
    width: 85px;
}

#master-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

#master-links li {
    padding: 1em;
    font-family: 'Lato';
}

#car-container {
    background-image: linear-gradient(360deg, rgba(26, 47, 58, 0.5), rgba(49, 36, 33, 0.5)), url('../images/car (2).svg');
    /* background-image: linear-gradient(360deg, rgba(26, 47, 58, 0.5), rgba(49, 36, 33, 0.5)), url('./kar.svg'); */
    height:90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inside {
    /* border: solid 2px red; */
    text-align: center;
}

#inside h1 {
    font-size: 7em;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: 'Oswald'
}

#inside p {
    color: white;
    font-size: 1.8em;
    font-weight: 800;
    font-family: 'Lato'
}

#ultimate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    position: relative;
    top: -20%;
    border-radius: 10px;
}

#inner-heading h1 {
    padding-bottom: 1em;
    font-family: 'Lato';
    padding-top: 1em;
}

#box-container {
    -webkit-box-shadow: 4px 2px 15px -3px rgba(0,0,0,0.79); 
    box-shadow: 4px 2px 15px -3px rgba(0,0,0,0.79);
    background-color: rgb(0, 108, 255);
    color: white;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#three-inputs > input[type="text"]{
    padding: 1em;
    border-radius: 5px;
    margin-right: 1em;
    font-family: 'Lato';
    width: 30%;
    background-color: rgb(99,165,255);
    border: none;
    color: white;
}


#all-of-the-content {
    width: 100%;
}

#last-three-inputs > input[type="text"]{
    padding: 1em;
    margin-right: 1em;
    border-radius: 5px;
    margin-top: 2em;
    font-family: 'Lato';
    width: 30%;
    border: none;
    color: white;
    background-color: rgb(99,165,255);
}

::placeholder {
    color: white;
    font-family: 'Lato';
}

#button button {
    padding: 1.2em;
    width: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(37,37,37);
    color: white;
    border: none;
}